
.hhPBuX { position: relative; display: block; line-height: 0; }
.bmvbUS { top: 0vw; min-height: 6.52463vw; position: sticky; z-index: 10; width: 100%; transition: top 0.2s; }
@media (min-width: 1502px) {
  .bmvbUS { top: 0px; }
}
@media (min-width: 1502px) {
  .bmvbUS { min-height: 98px; }
}
@media (max-width: 768px) {
  .bmvbUS { min-height: 18.0556vw; }
}
.bmvbUS .container { top: 1.33156vw; gap: 3.99467vw; min-height: 3.86152vw; padding: 1.13182vw 4.5273vw; border-radius: 2.66312vw; position: absolute; z-index: 10; right: 0px; left: 0px; display: flex; align-items: flex-start; justify-content: space-between; max-width: fit-content; margin: 0px auto; background-color: rgba(36, 36, 36, 0.8); backdrop-filter: blur(4px); }
@media (min-width: 1502px) {
  .bmvbUS .container { top: 20px; }
}
@media (min-width: 1502px) {
  .bmvbUS .container { gap: 60px; }
}
@media (min-width: 1502px) {
  .bmvbUS .container { min-height: 58px; }
}
@media (min-width: 1502px) {
  .bmvbUS .container { padding: 17px 68px; }
}
@media (min-width: 1502px) {
  .bmvbUS .container { border-radius: 40px; }
}
@media (min-width: 769px) {
  .bmvbUS .container:hover { border-radius: 1.33156vw; }
  @media (min-width: 1502px) {
  .bmvbUS .container:hover { border-radius: 20px; }
}
  .bmvbUS .container:hover .submenu { display: block; }
}
@media (max-width: 768px) {
  .bmvbUS .container { top: 0px; display: block; width: 100%; max-width: initial; min-height: auto; padding: 0px; background-color: transparent; backdrop-filter: none; border-radius: 0px; }
  .bmvbUS .container::after { right: 5.55556vw; left: 5.55556vw; content: ""; position: absolute; z-index: 2; bottom: 0px; display: block; height: 1px; opacity: 0; background-color: rgb(255, 255, 255); transition: opacity 0.2s; }
}
@media (max-width: 768px) {
  .eVAbWY { padding: 5.55556vw; position: relative; z-index: 2; top: 0px; display: flex; justify-content: space-between; background-color: rgb(0, 0, 0); border-radius: 0px; }
}
.lauUob { line-height: 0; }
.lauUob img { width: 1.59787vw; height: 1.59787vw; }
@media (min-width: 1502px) {
  .lauUob img { width: 24px; }
}
@media (min-width: 1502px) {
  .lauUob img { height: 24px; }
}
@media (max-width: 768px) {
  .lauUob img { width: 6.66667vw; height: 6.66667vw; }
}
@media (max-width: 768px) {
  .jYUTxO { padding: 24.4444vw 5.55556vw; pointer-events: none; touch-action: none; user-select: none; position: absolute; z-index: -1; top: 0px; left: 0px; transform-origin: center top; transform: rotateX(-50deg); overflow: auto; width: 100%; height: 100vh; visibility: hidden; opacity: 0; background-color: rgb(0, 0, 0); transition: transform 0.3s, opacity 0.3s, visibility 0.3s; }
}
.jYUTxO > ul { gap: 3.99467vw; display: flex; }
@media (min-width: 1502px) {
  .jYUTxO > ul { gap: 60px; }
}
@media (max-width: 768px) {
  .jYUTxO > ul { flex-direction: column; gap: 0px; }
}
.jYUTxO > ul > li { position: relative; }
@media (min-width: 769px) {
  .jYUTxO > ul > li { white-space: nowrap; }
  .jYUTxO > ul > li:has(.submenu):hover .depth-1-link { text-decoration-color: rgb(255, 255, 255); opacity: 1; }
  .jYUTxO > ul > li:nth-child(1) { width: 4.79361vw; }
  @media (min-width: 1502px) {
  .jYUTxO > ul > li:nth-child(1) { width: 72px; }
}
  .jYUTxO > ul > li:nth-child(2) { width: 4.26099vw; }
  @media (min-width: 1502px) {
  .jYUTxO > ul > li:nth-child(2) { width: 64px; }
}
  .jYUTxO > ul > li:nth-child(3) { width: 5.85885vw; }
  @media (min-width: 1502px) {
  .jYUTxO > ul > li:nth-child(3) { width: 88px; }
}
  .jYUTxO > ul > li:nth-child(4) { width: 6.39148vw; }
  @media (min-width: 1502px) {
  .jYUTxO > ul > li:nth-child(4) { width: 96px; }
}
}
@media (max-width: 768px) {
  .jYUTxO .depth-1:not(:first-child) { border-top: 1px solid rgba(255, 255, 255, 0.2); }
  .jYUTxO .depth-1:has(.button) { grid-template-columns: 1fr 6.66667vw; display: grid; grid-template-rows: min-content; }
  .jYUTxO .depth-1:has(.button) .submenu { grid-column: span 2; }
  .jYUTxO .depth-1.active .depth-1-link { color: rgb(72, 176, 100); }
  .jYUTxO .depth-1.active .submenu { display: block; }
  .jYUTxO .depth-1.active .button img { transform: rotate(0deg); }
}
.jYUTxO .depth-1 .button { position: absolute; top: 0px; left: 0px; display: none; width: 100%; text-align: right; }
@media (max-width: 768px) {
  .jYUTxO .depth-1 .button { display: block; height: 16.6667vw; }
  .jYUTxO .depth-1 .button img { width: 6.66667vw; height: 6.66667vw; pointer-events: none; touch-action: none; transform: rotate(180deg); }
}
.jYUTxO .depth-1-link { min-width: 4.5273vw; font-size: 1.1984vw; line-height: 1.59787vw; display: flex; align-items: center; font-weight: 500; color: rgb(255, 255, 255); text-decoration: underline transparent; text-underline-offset: 4px; text-transform: uppercase; letter-spacing: 0.1em; opacity: 0.5; transition: opacity 0.2s, text-decoration-color 0.2s; }
@media (min-width: 1502px) {
  .jYUTxO .depth-1-link { min-width: 68px; }
}
@media (min-width: 1502px) {
  .jYUTxO .depth-1-link { font-size: 18px; }
}
@media (min-width: 1502px) {
  .jYUTxO .depth-1-link { line-height: 24px; }
}
@media (min-width: 769px) {
  .jYUTxO .depth-1-link:hover, .jYUTxO .depth-1-link:focus, .jYUTxO .depth-1-link.active { text-decoration-color: rgb(255, 255, 255); opacity: 1; }
}
@media (max-width: 768px) {
  .jYUTxO .depth-1-link { padding: 3.61111vw 0vw; font-size: 5.55556vw; line-height: 9.44444vw; justify-content: flex-start; font-weight: 600; color: rgb(255, 255, 255); text-decoration: none; letter-spacing: 0px; opacity: 1; }
  .jYUTxO .depth-1-link.active { color: rgb(72, 176, 100); text-decoration: none; }
}
.jYUTxO .depth-1-link.disabled { pointer-events: none; touch-action: none; user-select: none; }
.jYUTxO .depth-1-link i { font-style: normal; letter-spacing: 0px; }
.jYUTxO .submenu { display: none; padding-top: 1.13182vw; }
@media (min-width: 1502px) {
  .jYUTxO .submenu { padding-top: 17px; }
}
@media (max-width: 768px) {
  .jYUTxO .submenu { padding-bottom: 6.66667vw; position: static; transform: initial; display: none; visibility: visible; opacity: 1; }
}
.jYUTxO .submenu > ul { gap: 0.798935vw; display: flex; flex-direction: column; }
@media (min-width: 1502px) {
  .jYUTxO .submenu > ul { gap: 12px; }
}
@media (max-width: 768px) {
  .jYUTxO .submenu > ul { gap: 0px; min-width: initial; padding: 0px; background-color: initial; backdrop-filter: none; border-radius: initial; }
}
.jYUTxO .depth-2-link { font-size: 1.06525vw; line-height: 1.99734vw; display: flex; color: rgb(153, 153, 153); transition: color 0.2s; }
@media (min-width: 1502px) {
  .jYUTxO .depth-2-link { font-size: 16px; }
}
@media (min-width: 1502px) {
  .jYUTxO .depth-2-link { line-height: 30px; }
}
@media (max-width: 768px) {
  .jYUTxO .depth-2-link { padding: 3.33333vw 0vw; font-size: 4.44444vw; line-height: 6.66667vw; color: rgb(255, 255, 255); }
}
.jYUTxO .depth-2-link:hover, .jYUTxO .depth-2-link:focus, .jYUTxO .depth-2-link.active { color: rgb(255, 255, 255); }
.gUuBVW { display: none; }
@media (max-width: 768px) {
  .gUuBVW { width: 6.66667vw; height: 6.66667vw; gap: 1.11111vw; display: flex; flex-direction: column; align-items: center; justify-content: center; }
}
.gUuBVW span { width: 5.55556vw; height: 0.555556vw; position: relative; top: 0px; background-color: rgb(255, 255, 255); transition: top 0.5s, transform 0.5s; }
.gvfisX { padding: 0vw 1.33156vw; }
@media (min-width: 1502px) {
  .gvfisX { padding: 0px 20px; }
}
@media (max-width: 768px) {
  .gvfisX { padding: 0vw 5.55556vw; }
}
.gvfisX .container { height: 34.221vw; max-width: 97.3369vw; padding: 5.32623vw 0vw 1.59787vw; grid-template-columns: 5fr 12.783vw; display: grid; grid-template-rows: repeat(2, 1fr); border-top: 1px solid rgb(204, 204, 204); }
@media (min-width: 1502px) {
  .gvfisX .container { height: 514px; }
}
@media (min-width: 1502px) {
  .gvfisX .container { max-width: 1462px; }
}
@media (min-width: 1502px) {
  .gvfisX .container { padding: 80px 0px 24px; }
}
@media (min-width: 1502px) {
  .gvfisX .container { grid-template-columns: 5fr 192px; }
}
@media (max-width: 768px) {
  .gvfisX .container { padding: 11.1111vw 0vw 5.55556vw; display: flex; flex-direction: column; justify-items: initial; height: initial; }
}
.hFjYWU { grid-area: 1 / 1 / 2 / 2; justify-self: flex-start; line-height: 0; }
.hFjYWU img { width: 12.783vw; height: 1.59787vw; }
@media (min-width: 1502px) {
  .hFjYWU img { width: 192px; }
}
@media (min-width: 1502px) {
  .hFjYWU img { height: 24px; }
}
@media (max-width: 768px) {
  .hFjYWU img { width: 53.3333vw; height: 6.66667vw; }
}
.iBSLCj { padding-right: 3.12916vw; grid-area: 1 / 3 / 2 / 6; justify-self: flex-end; line-height: 1; }
@media (min-width: 1502px) {
  .iBSLCj { padding-right: 47px; }
}
@media (max-width: 768px) {
  .iBSLCj { padding: 11.1111vw 0vw 0vw; }
}
.iBSLCj > ul { display: flex; }
@media (min-width: 769px) {
  .iBSLCj > ul > li:nth-child(1) { margin-right: 6.3249vw; }
  @media (min-width: 1502px) {
  .iBSLCj > ul > li:nth-child(1) { margin-right: 95px; }
}
  .iBSLCj > ul > li:nth-child(2) { margin-right: 4.59387vw; }
  @media (min-width: 1502px) {
  .iBSLCj > ul > li:nth-child(2) { margin-right: 69px; }
}
  .iBSLCj > ul > li:nth-child(3) { margin-right: 3.72836vw; }
  @media (min-width: 1502px) {
  .iBSLCj > ul > li:nth-child(3) { margin-right: 56px; }
}
  .iBSLCj > ul > li:nth-child(4) { margin-right: 5.7257vw; }
  @media (min-width: 1502px) {
  .iBSLCj > ul > li:nth-child(4) { margin-right: 86px; }
}
}
@media (max-width: 768px) {
  .iBSLCj > ul { gap: 5.55556vw; flex-direction: column; }
}
.iBSLCj .depth-1 { gap: 1.33156vw; display: flex; flex-direction: column; }
@media (min-width: 1502px) {
  .iBSLCj .depth-1 { gap: 20px; }
}
@media (max-width: 768px) {
  .iBSLCj .depth-1:has(.button) { position: relative; display: flex; gap: 3.33333vw; }
  .iBSLCj .depth-1:has(.button) .button { position: absolute; top: 0px; left: 0px; width: 100%; height: 3.88889vw; line-height: 0; text-align: right; }
  .iBSLCj .depth-1:has(.button) .button img { transform: rotate(180deg); height: 100%; }
  .iBSLCj .depth-1:has(.button) .submenu { display: none; grid-column: span 2; }
  .iBSLCj .depth-1.active .button img { transform: rotate(0deg); }
  .iBSLCj .depth-1.active .submenu { display: block; }
}
.iBSLCj .depth-1-link { font-size: 1.33156vw; line-height: 1.99734vw; color: rgb(255, 255, 255); text-transform: uppercase; }
@media (min-width: 1502px) {
  .iBSLCj .depth-1-link { font-size: 20px; }
}
@media (min-width: 1502px) {
  .iBSLCj .depth-1-link { line-height: 30px; }
}
@media (max-width: 768px) {
  .iBSLCj .depth-1-link { font-size: 4.44444vw; line-height: 3.88889vw; }
}
.iBSLCj .depth-1-link.disabled { pointer-events: none; touch-action: none; user-select: none; }
.iBSLCj .submenu ul { gap: 0.665779vw; display: flex; flex-direction: column; }
@media (min-width: 1502px) {
  .iBSLCj .submenu ul { gap: 10px; }
}
@media (max-width: 768px) {
  .iBSLCj .submenu ul { gap: 1.66667vw; }
}
.iBSLCj .depth-2-link { font-size: 1.1984vw; line-height: 1.86418vw; color: rgb(153, 153, 153); transition: color 0.2s; }
@media (min-width: 1502px) {
  .iBSLCj .depth-2-link { font-size: 18px; }
}
@media (min-width: 1502px) {
  .iBSLCj .depth-2-link { line-height: 28px; }
}
@media (min-width: 769px) {
  .iBSLCj .depth-2-link:hover, .iBSLCj .depth-2-link:focus { color: rgb(255, 255, 255); }
}
@media (max-width: 768px) {
  .iBSLCj .depth-2-link { font-size: 3.88889vw; line-height: 6.11111vw; }
}
.fNYbJs { padding: 0vw 0.732357vw; gap: 0.266312vw; display: flex; grid-area: 2 / 1 / 3 / 3; flex-direction: column; justify-content: flex-end; color: rgb(153, 153, 153); }
@media (min-width: 1502px) {
  .fNYbJs { padding: 0px 11px; }
}
@media (min-width: 1502px) {
  .fNYbJs { gap: 4px; }
}
@media (max-width: 768px) {
  .fNYbJs { padding: 16.6667vw 0vw 0vw; gap: 1.11111vw; }
}
.fNYbJs .text { font-size: 0.798935vw; line-height: 1.46471vw; }
@media (min-width: 1502px) {
  .fNYbJs .text { font-size: 12px; }
}
@media (min-width: 1502px) {
  .fNYbJs .text { line-height: 22px; }
}
@media (max-width: 768px) {
  .fNYbJs .text { font-size: 3.33333vw; line-height: 6.11111vw; }
}
.fNYbJs .text span { display: inline-block; }
.bhLidC { padding-top: 3.59521vw; gap: 1.99734vw; font-size: 0.798935vw; line-height: 1.46471vw; display: flex; grid-area: 2 / 3 / 3 / 6; align-items: flex-end; justify-content: flex-end; width: 100%; font-weight: 400; color: rgb(153, 153, 153); }
@media (min-width: 1502px) {
  .bhLidC { padding-top: 54px; }
}
@media (min-width: 1502px) {
  .bhLidC { gap: 30px; }
}
@media (min-width: 1502px) {
  .bhLidC { font-size: 12px; }
}
@media (min-width: 1502px) {
  .bhLidC { line-height: 22px; }
}
.bhLidC a, .bhLidC button { font-size: inherit; line-height: inherit; color: inherit; }
.bhLidC a, .bhLidC button span { font-size: inherit; line-height: inherit; color: inherit; }
@media (max-width: 768px) {
  .bhLidC { padding-top: 3.33333vw; gap: 1.11111vw; font-size: 3.33333vw; line-height: 6.11111vw; flex-direction: column; align-items: flex-start; }
}
.bhLidC .dialog-menu { gap: 0.466045vw; display: flex; }
@media (min-width: 1502px) {
  .bhLidC .dialog-menu { gap: 7px; }
}
@media (max-width: 768px) {
  .bhLidC .dialog-menu { gap: 1.94444vw; }
}
.bhLidC .dialog-menu a, .bhLidC .dialog-menu button { gap: 0.466045vw; display: flex; align-items: center; }
@media (min-width: 1502px) {
  .bhLidC .dialog-menu a, .bhLidC .dialog-menu button { gap: 7px; }
}
@media (max-width: 768px) {
  .bhLidC .dialog-menu a, .bhLidC .dialog-menu button { gap: 1.94444vw; }
}
.bhLidC .dialog-menu a:not(:last-child)::after, .bhLidC .dialog-menu button:not(:last-child)::after { height: 0.665779vw; pointer-events: none; touch-action: none; content: ""; user-select: none; display: block; width: 1px; background-color: currentcolor; }
@media (min-width: 1502px) {
  .bhLidC .dialog-menu a:not(:last-child)::after, .bhLidC .dialog-menu button:not(:last-child)::after { height: 10px; }
}
@media (max-width: 768px) {
  .bhLidC .dialog-menu a:not(:last-child)::after, .bhLidC .dialog-menu button:not(:last-child)::after { height: 2.77778vw; }
}
.bhLidC .external-link { gap: 0.798935vw; display: flex; }
@media (min-width: 1502px) {
  .bhLidC .external-link { gap: 12px; }
}
@media (max-width: 768px) {
  .bhLidC .external-link { gap: 5.55556vw; }
}
.bhLidC .external-link a { gap: 0.133156vw; display: flex; align-items: center; }
@media (min-width: 1502px) {
  .bhLidC .external-link a { gap: 2px; }
}
@media (max-width: 768px) {
  .bhLidC .external-link a { gap: 0.555556vw; }
}
.bhLidC .external-link svg { width: 1.06525vw; height: 1.06525vw; fill: currentcolor; }
@media (min-width: 1502px) {
  .bhLidC .external-link svg { width: 16px; }
}
@media (min-width: 1502px) {
  .bhLidC .external-link svg { height: 16px; }
}
@media (max-width: 768px) {
  .bhLidC .external-link svg { width: 4.44444vw; height: 4.44444vw; }
}
.bhLidC .external-link svg path { fill: currentcolor; }
.jqRrJo { position: sticky; z-index: 9; bottom: 0px; }
.jqRrJo .container { max-width: 119.84vw; position: relative; }
@media (min-width: 1502px) {
  .jqRrJo .container { max-width: 1800px; }
}
@media (max-width: 768px) {
  .jqRrJo .container { max-width: 500vw; }
}
.jqRrJo .button { right: 1.33156vw; bottom: 2.66312vw; width: 3.19574vw; height: 3.19574vw; position: absolute; display: flex; align-items: center; justify-content: center; visibility: hidden; opacity: 0; background-color: rgba(0, 0, 0, 0.9); border-radius: 50%; transition: opacity 0.3s, visibility 0.3s; }
@media (min-width: 1502px) {
  .jqRrJo .button { right: 20px; }
}
@media (min-width: 1502px) {
  .jqRrJo .button { bottom: 40px; }
}
@media (min-width: 1502px) {
  .jqRrJo .button { width: 48px; }
}
@media (min-width: 1502px) {
  .jqRrJo .button { height: 48px; }
}
@media (max-width: 768px) {
  .jqRrJo .button { right: 5.55556vw; bottom: 5.55556vw; width: 13.3333vw; height: 13.3333vw; }
}
.jqRrJo .button img { width: 1.59787vw; height: 1.59787vw; }
@media (min-width: 1502px) {
  .jqRrJo .button img { width: 24px; }
}
@media (min-width: 1502px) {
  .jqRrJo .button img { height: 24px; }
}
@media (max-width: 768px) {
  .jqRrJo .button img { width: 6.66667vw; height: 6.66667vw; }
}
.hdEcUh { position: sticky; z-index: 9; bottom: 0px; }
.hdEcUh .container { max-width: 119.84vw; position: relative; }
@media (min-width: 1502px) {
  .hdEcUh .container { max-width: 1800px; }
}
@media (max-width: 768px) {
  .hdEcUh .container { max-width: 500vw; }
}
.hdEcUh .button { right: 1.33156vw; bottom: 2.66312vw; width: 3.19574vw; height: 3.19574vw; position: absolute; display: flex; align-items: center; justify-content: center; visibility: visible; opacity: 1; background-color: rgba(0, 0, 0, 0.9); border-radius: 50%; transition: opacity 0.3s, visibility 0.3s; }
@media (min-width: 1502px) {
  .hdEcUh .button { right: 20px; }
}
@media (min-width: 1502px) {
  .hdEcUh .button { bottom: 40px; }
}
@media (min-width: 1502px) {
  .hdEcUh .button { width: 48px; }
}
@media (min-width: 1502px) {
  .hdEcUh .button { height: 48px; }
}
@media (max-width: 768px) {
  .hdEcUh .button { right: 5.55556vw; bottom: 5.55556vw; width: 13.3333vw; height: 13.3333vw; }
}
.hdEcUh .button img { width: 1.59787vw; height: 1.59787vw; }
@media (min-width: 1502px) {
  .hdEcUh .button img { width: 24px; }
}
@media (min-width: 1502px) {
  .hdEcUh .button img { height: 24px; }
}
@media (max-width: 768px) {
  .hdEcUh .button img { width: 6.66667vw; height: 6.66667vw; }
}
.kDNnOq { width: 17.7763vw; height: 3.99467vw; padding: 0vw 1.59787vw; font-size: 1.33156vw; line-height: 1.99734vw; border-radius: 6.65779vw; display: flex; align-items: center; justify-content: space-between; font-weight: 600; color: rgb(72, 176, 100); border: 1px solid; transition: color 0.2s, border-color 0.2s; }
@media (min-width: 1502px) {
  .kDNnOq { width: 267px; }
}
@media (min-width: 1502px) {
  .kDNnOq { height: 60px; }
}
@media (min-width: 1502px) {
  .kDNnOq { padding: 0px 24px; }
}
@media (min-width: 1502px) {
  .kDNnOq { font-size: 20px; }
}
@media (min-width: 1502px) {
  .kDNnOq { line-height: 30px; }
}
@media (min-width: 1502px) {
  .kDNnOq { border-radius: 100px; }
}
.kDNnOq:hover, .kDNnOq:focus { color: rgb(107, 197, 133); }
@media (max-width: 768px) {
  .kDNnOq { width: 55.5556vw; height: 13.8889vw; padding: 0vw 5.55556vw; font-size: 4.44444vw; line-height: 6.66667vw; }
}
.kDNnOq svg { width: 1.59787vw; height: 1.59787vw; color: inherit; }
@media (min-width: 1502px) {
  .kDNnOq svg { width: 24px; }
}
@media (min-width: 1502px) {
  .kDNnOq svg { height: 24px; }
}
@media (max-width: 768px) {
  .kDNnOq svg { width: 5.55556vw; height: 5.55556vw; }
}
.laFMsa { position: relative; }
.jyTwnF { position: absolute; right: 10px; bottom: 10px; display: none; color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); }
.fzrjC { margin-top: 2.66312vw; padding: 0.266312vw 0.399467vw; }
@media (min-width: 1502px) {
  .fzrjC { margin-top: 40px; }
}
@media (min-width: 1502px) {
  .fzrjC { padding: 4px 6px; }
}
@media (max-width: 768px) {
  .fzrjC { margin-top: 4.44444vw; padding: 1.11111vw 0vw; }
}
.fzrjC .container { gap: 0.532623vw; display: flex; align-items: center; }
@media (min-width: 1502px) {
  .fzrjC .container { gap: 8px; }
}
@media (max-width: 768px) {
  .fzrjC .container { gap: 1.66667vw; }
}
.fzrjC .home { width: 1.1984vw; height: 1.1984vw; }
@media (min-width: 1502px) {
  .fzrjC .home { width: 18px; }
}
@media (min-width: 1502px) {
  .fzrjC .home { height: 18px; }
}
@media (max-width: 768px) {
  .fzrjC .home { width: 5vw; height: 5vw; }
}
.fzrjC .separator { width: 0.665779vw; height: 1.1984vw; }
@media (min-width: 1502px) {
  .fzrjC .separator { width: 10px; }
}
@media (min-width: 1502px) {
  .fzrjC .separator { height: 18px; }
}
@media (max-width: 768px) {
  .fzrjC .separator { width: 2.77778vw; height: 5vw; }
}
.fzrjC a { font-size: 0.798935vw; line-height: 1.11851vw; padding: 0vw 0.266312vw; display: block; color: rgb(153, 153, 153); letter-spacing: 0.1em; transition: color 0.3s; }
@media (min-width: 1502px) {
  .fzrjC a { font-size: 12px; }
}
@media (min-width: 1502px) {
  .fzrjC a { line-height: 16.8px; }
}
@media (min-width: 1502px) {
  .fzrjC a { padding: 0px 4px; }
}
@media (max-width: 768px) {
  .fzrjC a { font-size: 3.33333vw; line-height: 4.66667vw; padding: 0vw 1.11111vw; }
}
.fzrjC a:hover, .fzrjC a:focus, .fzrjC a.is-active { color: rgb(238, 238, 238); }
.fzrjC.theme-light a:hover, .theme-light .fzrjC a:hover, .fzrjC.theme-light a:focus, .theme-light .fzrjC a:focus, .fzrjC.theme-light a.is-active, .theme-light .fzrjC a.is-active { color: rgb(0, 0, 0); }
.bmoXOw { position: relative; z-index: 2; }
.bmoXOw .theme-light { color: rgb(0, 0, 0); background-color: rgb(247, 247, 247); }
.iTeZLY { position: relative; overflow: hidden; display: flex; flex-direction: column; }
.iTeZLY .container { position: relative; z-index: 4; height: 113.182vw; }
@media (min-width: 1502px) {
  .iTeZLY .container { height: 1700px; }
}
@media (max-width: 768px) {
  .iTeZLY .container { height: auto; padding: 0px; }
}
.iTeZLY .container .headline { flex-wrap: wrap; justify-content: flex-end; }
.iTeZLY .container .description { margin-top: -1.06525vw; }
@media (min-width: 1502px) {
  .iTeZLY .container .description { margin-top: -16px; }
}
@media (max-width: 768px) {
  .iTeZLY .container .title.gradient { padding-left: 5.55556vw; }
  .iTeZLY .container .description { padding: 0vw 5.55556vw; margin-top: 16.6667vw; }
}
.iTeZLY .vision-video { pointer-events: none; touch-action: none; user-select: none; position: absolute; z-index: 1; left: 50%; transform: translateX(-50%); overflow: hidden; width: 127.83vw; height: 113.182vw; }
@media (min-width: 1502px) {
  .iTeZLY .vision-video { width: 1920px; }
}
@media (min-width: 1502px) {
  .iTeZLY .vision-video { height: 1700px; }
}
@media (min-width: 769px) {
  .iTeZLY .vision-video::after { content: ""; position: absolute; bottom: 0px; left: 0px; width: 100%; height: 1px; background-color: rgb(248, 248, 248); }
}
@media (max-width: 768px) {
  .iTeZLY .vision-video { height: 127.778vw; top: 0px; width: 100%; }
}
.iTeZLY .vision-video img { width: 100%; height: 100%; object-fit: cover; object-position: center center; }
@media (max-width: 768px) {
  .iTeZLY .vision-video-bg { width: 100vw; height: 138.889vw; position: relative; z-index: 3; bottom: 0px; }
}
.iTeZLY.motion-wrapper .headline .title { opacity: 0; transform: translateY(100px); }
.iTeZLY.motion-wrapper .description { opacity: 0; transform: translateY(100px); }
.iTeZLY.is-animated .headline .title { opacity: 1; transition: opacity 1s 0.2s, transform 1s cubic-bezier(0, 0.25, 0, 1.06); transform: translateY(0px); }
.iTeZLY.is-animated .description { opacity: 1; transition: opacity 1s 0.2s, transform 1s cubic-bezier(0, 0.25, 0, 1.06); transform: translateY(0px); }
.llJlFG { display: flex; place-content: flex-start space-between; }
@media (max-width: 768px) {
  .llJlFG { flex-wrap: wrap; }
}
.llJlFG .title { width: 47.6032vw; font-size: 5.32623vw; line-height: 5.99201vw; font-weight: 700; }
@media (min-width: 1502px) {
  .llJlFG .title { width: 715px; }
}
@media (min-width: 1502px) {
  .llJlFG .title { font-size: 80px; }
}
@media (min-width: 1502px) {
  .llJlFG .title { line-height: 90px; }
}
@media (max-width: 768px) {
  .llJlFG .title { width: 100%; font-size: 10vw; line-height: 12.7778vw; }
}
.llJlFG .title.gradient { width: 100%; padding: 3.99467vw 0vw 6.65779vw; font-size: 9.98668vw; line-height: 9.18775vw; }
@media (min-width: 1502px) {
  .llJlFG .title.gradient { padding: 60px 0px 100px; }
}
@media (min-width: 1502px) {
  .llJlFG .title.gradient { font-size: 150px; }
}
@media (min-width: 1502px) {
  .llJlFG .title.gradient { line-height: 138px; }
}
@media (max-width: 768px) {
  .llJlFG .title.gradient { padding: 8.88889vw 0vw 0vw; font-size: 13.3333vw; line-height: 13.8889vw; letter-spacing: -1px; }
}
.llJlFG .title.gradient span { display: block; text-transform: uppercase; }
.llJlFG .title.gradient span:nth-child(1) { display: inline-block; background: linear-gradient(rgb(253, 253, 253) 0%, rgb(227, 227, 227) 100%) text; -webkit-text-fill-color: transparent; }
.llJlFG .title.gradient span:nth-child(2) { display: inline-block; color: rgb(0, 0, 0); background: linear-gradient(rgb(253, 253, 253) 0%, rgb(227, 227, 227) 100%) text; -webkit-text-stroke: 2px transparent; }
@media (max-width: 768px) {
  .llJlFG .title.gradient span:nth-child(2) { -webkit-text-stroke: 1px transparent; }
}
.llJlFG .title.gradient span:nth-child(3) { color: rgb(217, 217, 217); }
.llJlFG .title.gradient span:nth-child(4) { background: linear-gradient(rgb(217, 217, 217) 0%, rgb(58, 58, 58) 100%) text; -webkit-text-stroke: 2px transparent; color: rgb(0, 0, 0) !important; }
@media (max-width: 768px) {
  .llJlFG .title.gradient span:nth-child(4) { -webkit-text-stroke: 1px transparent; }
}
.llJlFG .title .summary { display: block; margin-top: 1.59787vw; font-size: 1.33156vw; line-height: 1.99734vw; font-weight: 600; }
@media (min-width: 1502px) {
  .llJlFG .title .summary { margin-top: 24px; }
}
@media (min-width: 1502px) {
  .llJlFG .title .summary { font-size: 20px; }
}
@media (min-width: 1502px) {
  .llJlFG .title .summary { line-height: 30px; }
}
@media (max-width: 768px) {
  .llJlFG .title .summary { margin-top: 4.44444vw; font-size: 4.44444vw; line-height: 6.66667vw; }
}
.llJlFG .title .eyebrow { margin-bottom: 2.66312vw; font-size: 1.59787vw; line-height: 2.26365vw; display: block; font-weight: 700; }
@media (min-width: 1502px) {
  .llJlFG .title .eyebrow { margin-bottom: 40px; }
}
@media (min-width: 1502px) {
  .llJlFG .title .eyebrow { font-size: 24px; }
}
@media (min-width: 1502px) {
  .llJlFG .title .eyebrow { line-height: 34px; }
}
@media (max-width: 768px) {
  .llJlFG .title .eyebrow { margin-bottom: 4.44444vw; font-size: 5vw; line-height: 7.77778vw; }
}
@media (min-width: 769px) {
  .llJlFG .title:has(.eyebrow) + .description { margin-top: 5.79228vw; }
  @media (min-width: 1502px) {
  .llJlFG .title:has(.eyebrow) + .description { margin-top: 87px; }
}
}
.llJlFG .description { width: 47.6032vw; margin-top: 0.798935vw; font-size: 1.33156vw; line-height: 1.99734vw; }
@media (min-width: 1502px) {
  .llJlFG .description { width: 715px; }
}
@media (min-width: 1502px) {
  .llJlFG .description { margin-top: 12px; }
}
@media (min-width: 1502px) {
  .llJlFG .description { font-size: 20px; }
}
@media (min-width: 1502px) {
  .llJlFG .description { line-height: 30px; }
}
@media (max-width: 768px) {
  .llJlFG .description { margin-top: 11.1111vw; font-size: 4.44444vw; line-height: 6.66667vw; width: 100%; }
}
.llJlFG .description .lang-en { display: block; }
.llJlFG .description .lang-ko { display: block; color: rgb(204, 204, 204); margin-top: 2.13049vw; font-size: 1.1984vw; line-height: 1.86418vw; }
@media (min-width: 1502px) {
  .llJlFG .description .lang-ko { margin-top: 32px; }
}
@media (min-width: 1502px) {
  .llJlFG .description .lang-ko { font-size: 18px; }
}
@media (min-width: 1502px) {
  .llJlFG .description .lang-ko { line-height: 28px; }
}
@media (max-width: 768px) {
  .llJlFG .description .lang-ko { margin-top: 6.66667vw; font-size: 3.88889vw; line-height: 6.11111vw; }
}
.theme-light .llJlFG .description .lang-ko { color: rgb(49, 49, 49); }
.dpXlCp { position: relative; overflow: hidden; }
@media (max-width: 768px) {
  .dpXlCp { margin-top: -43.0556vw; }
}
.dpXlCp .card-list { display: flex; flex-wrap: wrap; gap: 2.13049vw; padding: 6.65779vw 1.33156vw 0vw; }
@media (min-width: 1502px) {
  .dpXlCp .card-list { gap: 32px; }
}
@media (min-width: 1502px) {
  .dpXlCp .card-list { padding: 100px 20px 0px; }
}
@media (min-width: 769px) {
  .dpXlCp .card-list { width: 100%; margin: 0px auto; max-width: 100vw; }
  @media (min-width: 1502px) {
  .dpXlCp .card-list { max-width: 1502px; }
}
}
@media (max-width: 768px) {
  .dpXlCp .card-list { flex-wrap: nowrap; gap: 0px; padding: 16.6667vw 0vw 0vw; }
}
.dpXlCp .card-list .card-item { padding: 2.66312vw; border-radius: 1.33156vw; }
@media (min-width: 1502px) {
  .dpXlCp .card-list .card-item { padding: 40px; }
}
@media (min-width: 1502px) {
  .dpXlCp .card-list .card-item { border-radius: 20px; }
}
@media (min-width: 769px) {
  .dpXlCp .card-list .card-item { flex: 1 1 0px; }
}
@media (max-width: 768px) {
  .dpXlCp .card-list .card-item { flex-shrink: 0; width: 70.2778vw; padding: 5.55556vw; border-radius: 5.55556vw; }
}
.dpXlCp .card-list .card-title { width: 100%; font-size: 2.13049vw; line-height: 2.79627vw; }
@media (min-width: 1502px) {
  .dpXlCp .card-list .card-title { font-size: 32px; }
}
@media (min-width: 1502px) {
  .dpXlCp .card-list .card-title { line-height: 42px; }
}
@media (max-width: 768px) {
  .dpXlCp .card-list .card-title { font-size: 5.55556vw; line-height: 8.33333vw; }
}
.dpXlCp .card-list .card-title span { color: rgb(72, 176, 100); }
.dpXlCp .card-list .card-summary { display: block; width: 100%; margin-top: 0.532623vw; font-size: 1.33156vw; line-height: 1.99734vw; }
@media (min-width: 1502px) {
  .dpXlCp .card-list .card-summary { margin-top: 8px; }
}
@media (min-width: 1502px) {
  .dpXlCp .card-list .card-summary { font-size: 20px; }
}
@media (min-width: 1502px) {
  .dpXlCp .card-list .card-summary { line-height: 30px; }
}
@media (max-width: 768px) {
  .dpXlCp .card-list .card-summary { margin-top: 2.22222vw; font-size: 4.44444vw; line-height: 6.66667vw; }
}
.dpXlCp .card-list .card-desc { width: 100%; margin-top: 1.06525vw; font-size: 1.06525vw; line-height: 1.73103vw; color: rgb(204, 204, 204); }
@media (min-width: 1502px) {
  .dpXlCp .card-list .card-desc { margin-top: 16px; }
}
@media (min-width: 1502px) {
  .dpXlCp .card-list .card-desc { font-size: 16px; }
}
@media (min-width: 1502px) {
  .dpXlCp .card-list .card-desc { line-height: 26px; }
}
@media (max-width: 768px) {
  .dpXlCp .card-list .card-desc { margin-top: 4.44444vw; font-size: 3.88889vw; line-height: 6.11111vw; }
}
@media (max-width: 768px) {
  .dpXlCp .card-list .swiper { padding: 0vw 5.55556vw 11.9444vw; margin: 0vw -2.77778vw; }
  .dpXlCp .card-list .swiper-slide { width: 70.2778vw; margin: 0vw 2.77778vw; }
  .dpXlCp .card-list .swiper-scrollbar { top: auto; bottom: 0px; left: 50%; transform: translateX(-50%); width: 88.8889vw; height: 1.38889vw; font-size: 0px; background-color: rgba(255, 255, 255, 0.4); border-top: 0.5556vw solid rgb(0, 0, 0); border-bottom: 0.5556vw solid rgb(0, 0, 0); }
  .dpXlCp .card-list .swiper-scrollbar-drag { height: 0.833333vw; top: -0.277778vw; background-color: rgb(72, 176, 100); }
}
.dpXlCp .solution { max-width: 1920px; margin: 0px auto; background-color: rgb(248, 248, 248); padding: 1.7976vw 0vw 6.65779vw; }
@media (min-width: 1502px) {
  .dpXlCp .solution { padding: 27px 0px 100px; }
}
@media (max-width: 768px) {
  .dpXlCp .solution { padding: 11.1111vw 0vw; }
}
@media (max-width: 768px) {
  .dpXlCp .solution .container { position: relative; z-index: 3; }
}
.dpXlCp .solution .headline { margin-bottom: 13.3156vw; }
@media (min-width: 1502px) {
  .dpXlCp .solution .headline { margin-bottom: 200px; }
}
@media (max-width: 768px) {
  .dpXlCp .solution .headline { margin-bottom: 22.2222vw; }
}
.dpXlCp .solution.motion-wrapper .headline .title { opacity: 0; transform: translateY(100px); }
.dpXlCp .solution.motion-wrapper .description { opacity: 0; transform: translateY(100px); }
.dpXlCp .solution.is-animated .headline .title { opacity: 1; transition: opacity 1s 0.2s, transform 1s cubic-bezier(0, 0.25, 0, 1.06); transform: translateY(0px); }
.dpXlCp .solution.is-animated .description { opacity: 1; transition: opacity 1s 0.2s, transform 1s cubic-bezier(0, 0.25, 0, 1.06); transform: translateY(0px); }
.dpXlCp .i-code { padding: 13.3156vw 0vw; background-color: rgb(0, 0, 0); }
@media (min-width: 1502px) {
  .dpXlCp .i-code { padding: 200px 0px; }
}
@media (max-width: 768px) {
  .dpXlCp .i-code { padding: 22.2222vw 0vw 0vw; }
}
.dpXlCp .i-code .card-list .card-item { display: flex; flex-direction: column; align-items: center; min-height: 43.0093vw; border: 1px solid rgb(100, 100, 100); }
@media (min-width: 1502px) {
  .dpXlCp .i-code .card-list .card-item { min-height: 646px; }
}
@media (min-width: 769px) {
  .dpXlCp .i-code .card-list .card-item { padding: 3.19574vw; }
  @media (min-width: 1502px) {
  .dpXlCp .i-code .card-list .card-item { padding: 48px; }
}
}
@media (max-width: 768px) {
  .dpXlCp .i-code .card-list .card-item { min-height: 98.8889vw; }
}
.dpXlCp .i-code .card-list .card-item .ico-icode { width: 18.6418vw; }
@media (min-width: 1502px) {
  .dpXlCp .i-code .card-list .card-item .ico-icode { width: 280px; }
}
@media (max-width: 768px) {
  .dpXlCp .i-code .card-list .card-item .ico-icode { width: 36.6667vw; }
}
.dpXlCp .i-code .card-list .card-item .card-desc { width: 100%; min-height: 9.45406vw; }
@media (min-width: 1502px) {
  .dpXlCp .i-code .card-list .card-item .card-desc { min-height: 142px; }
}
@media (max-width: 768px) {
  .dpXlCp .i-code .card-list .card-item .card-desc { min-height: 23.8889vw; }
}
.dpXlCp .i-code.motion-wrapper .headline .title { opacity: 0; transform: translateY(100px); }
.dpXlCp .i-code.motion-wrapper .description { opacity: 0; transform: translateY(100px); }
.dpXlCp .i-code.motion-wrapper .card-list { opacity: 0; transform: translateY(100px); }
.dpXlCp .i-code.is-animated .headline .title { opacity: 1; transition: opacity 1s 0.2s, transform 1s cubic-bezier(0, 0.25, 0, 1.06); transform: translateY(0px); }
.dpXlCp .i-code.is-animated .description { opacity: 1; transition: opacity 1s 0.2s, transform 1s cubic-bezier(0, 0.25, 0, 1.06); transform: translateY(0px); }
.dpXlCp .i-code.is-animated .card-list { opacity: 1; transition: opacity 1s 0.4s, transform 1s cubic-bezier(0, 0.25, 0, 1.06); transform: translateY(0px); }
.dpXlCp .business { position: relative; height: 59.9201vw; }
.dpXlCp .business .background { width: 127.83vw; pointer-events: none; touch-action: none; user-select: none; position: absolute; z-index: -1; top: 0px; left: 50%; transform: translateX(-50%); }
@media (min-width: 1502px) {
  .dpXlCp .business .background { width: 1920px; }
}
.dpXlCp .business .background img { width: 100%; }
@media (max-width: 768px) {
  .dpXlCp .business .background { top: inherit; bottom: 0px; width: 100vw; }
}
@media (min-width: 1502px) {
  .dpXlCp .business { height: 900px; }
}
@media (max-width: 768px) {
  .dpXlCp .business { height: 191.111vw; padding: 22.2222vw 0vw 0vw; }
}
.dpXlCp .business .container { position: relative; }
.dpXlCp .business.motion-wrapper .headline .title { opacity: 0; transform: translateY(100px); }
.dpXlCp .business.motion-wrapper .description { opacity: 0; transform: translateY(100px); }
.dpXlCp .business.is-animated .headline .title { opacity: 1; transition: opacity 1s 0.2s, transform 1s cubic-bezier(0, 0.25, 0, 1.06); transform: translateY(0px); }
.dpXlCp .business.is-animated .description { opacity: 1; transition: opacity 1s 0.2s, transform 1s cubic-bezier(0, 0.25, 0, 1.06); transform: translateY(0px); }
.dpXlCp .business-office { max-width: 127.83vw; min-height: 46.6045vw; margin: 0px auto; }
@media (min-width: 1502px) {
  .dpXlCp .business-office { max-width: 1920px; }
}
@media (min-width: 1502px) {
  .dpXlCp .business-office { min-height: 700px; }
}
@media (max-width: 768px) {
  .dpXlCp .business-office { min-height: 223.889vw; padding-bottom: 22.2222vw; }
}
.dpXlCp .business-office .headline { flex-wrap: wrap; margin-bottom: 0px; }
.dpXlCp .business-office .sub-title { font-size: 3.19574vw; line-height: 3.86152vw; }
@media (min-width: 1502px) {
  .dpXlCp .business-office .sub-title { font-size: 48px; }
}
@media (min-width: 1502px) {
  .dpXlCp .business-office .sub-title { line-height: 58px; }
}
@media (max-width: 768px) {
  .dpXlCp .business-office .sub-title { font-size: 7.77778vw; line-height: 10.5556vw; }
}
.dpXlCp .business-office .description { margin-top: 2.13049vw; }
@media (min-width: 1502px) {
  .dpXlCp .business-office .description { margin-top: 32px; }
}
@media (max-width: 768px) {
  .dpXlCp .business-office .description { margin-top: 8.88889vw; }
}
.dpXlCp .business-office .cta-view-more { margin-top: 5.32623vw; }
@media (min-width: 1502px) {
  .dpXlCp .business-office .cta-view-more { margin-top: 80px; }
}
@media (max-width: 768px) {
  .dpXlCp .business-office .cta-view-more { margin-top: 16.6667vw; }
}
.dpXlCp .business-office .container { display: flex; flex-wrap: nowrap; justify-content: flex-end; gap: 7.98935vw; }
@media (min-width: 1502px) {
  .dpXlCp .business-office .container { gap: 120px; }
}
@media (max-width: 768px) {
  .dpXlCp .business-office .container { flex-direction: column; gap: 0px; padding: 0px; }
}
.dpXlCp .business-office .container > div { flex-shrink: 0; }
.dpXlCp .business-office .tab-panels { width: 47.6032vw; display: grid; grid-template-columns: 1fr; padding-top: 4.99334vw; }
@media (min-width: 1502px) {
  .dpXlCp .business-office .tab-panels { width: 715px; }
}
@media (min-width: 1502px) {
  .dpXlCp .business-office .tab-panels { padding-top: 75px; }
}
@media (max-width: 768px) {
  .dpXlCp .business-office .tab-panels { width: 100%; padding: 0vw 5.55556vw; }
}
.dpXlCp .business-office .tab-panels .tab-panel { display: flex; grid-area: 1 / 1; flex-direction: column; visibility: hidden; opacity: 0; }
@media (max-width: 768px) {
  .dpXlCp .business-office .tab-panels .tab-panel { justify-content: flex-start; }
}
.dpXlCp .business-office .tab-panels .tab-panel.js-active { visibility: visible; opacity: 1; }
.dpXlCp .business-office .tab-list { position: relative; width: 47.9361vw; height: 33.2889vw; font-size: 0.798935vw; line-height: 1.46471vw; font-weight: 600; background-image: url("/assets/vision-business-map-pc-COBSCP6Sq7.jpg"); background-repeat: no-repeat; background-size: cover; }
@media (min-width: 1502px) {
  .dpXlCp .business-office .tab-list { width: 720px; }
}
@media (min-width: 1502px) {
  .dpXlCp .business-office .tab-list { height: 500px; }
}
@media (min-width: 1502px) {
  .dpXlCp .business-office .tab-list { font-size: 12px; }
}
@media (min-width: 1502px) {
  .dpXlCp .business-office .tab-list { line-height: 22px; }
}
@media (max-width: 768px) {
  .dpXlCp .business-office .tab-list { width: 100%; height: 69.4444vw; margin: 11.1111vw 0vw; font-size: 3.33333vw; line-height: 6.11111vw; background-image: url("/assets/vision-business-map-mo-BUiBw9r7qj.jpg"); }
}
.dpXlCp .business-office .tab-list .tab-cta { font-size: 1.06525vw; line-height: 1.73103vw; }
@media (min-width: 1502px) {
  .dpXlCp .business-office .tab-list .tab-cta { font-size: 16px; }
}
@media (min-width: 1502px) {
  .dpXlCp .business-office .tab-list .tab-cta { line-height: 26px; }
}
@media (max-width: 768px) {
  .dpXlCp .business-office .tab-list .tab-cta { font-size: 3.88889vw; line-height: 6.11111vw; }
}
.dpXlCp .business-office .tab-list .tab-cta > span::before, .dpXlCp .business-office .tab-list .tab-cta > span::after { content: ""; position: absolute; top: 50%; transform: translateY(-50%); opacity: 0; background-color: rgb(235, 80, 32); border-radius: 50%; transition: opacity 0.3s ease-in-out; }
.dpXlCp .business-office .tab-list .tab-cta > span::before { width: 2.26365vw; height: 2.26365vw; }
@media (min-width: 1502px) {
  .dpXlCp .business-office .tab-list .tab-cta > span::before { width: 34px; }
}
@media (min-width: 1502px) {
  .dpXlCp .business-office .tab-list .tab-cta > span::before { height: 34px; }
}
@media (max-width: 768px) {
  .dpXlCp .business-office .tab-list .tab-cta > span::before { width: 5vw; height: 5vw; }
}
.dpXlCp .business-office .tab-list .tab-cta > span::after { width: 3.72836vw; height: 3.72836vw; }
@media (min-width: 1502px) {
  .dpXlCp .business-office .tab-list .tab-cta > span::after { width: 56px; }
}
@media (min-width: 1502px) {
  .dpXlCp .business-office .tab-list .tab-cta > span::after { height: 56px; }
}
@media (max-width: 768px) {
  .dpXlCp .business-office .tab-list .tab-cta > span::after { width: 7.77778vw; height: 7.77778vw; }
}
.dpXlCp .business-office .tab-list .tab-cta:hover > span::before, .dpXlCp .business-office .tab-list .tab-cta.js-active > span::before { opacity: 0.3; }
.dpXlCp .business-office .tab-list .tab-cta:hover > span::after, .dpXlCp .business-office .tab-list .tab-cta.js-active > span::after { opacity: 0.2; transition-delay: 0.1s; }
.dpXlCp .business-office .tab-list [class*="office-"] { position: absolute; color: inherit; padding: 0vw 1.1984vw; }
.dpXlCp .business-office .tab-list [class*="office-"]::before { content: ""; position: absolute; top: 50%; left: 0px; width: 0.665779vw; height: 0.665779vw; transform: translateY(-50%); background-color: rgb(49, 49, 49); border-radius: 50%; }
@media (min-width: 1502px) {
  .dpXlCp .business-office .tab-list [class*="office-"]::before { width: 10px; }
}
@media (min-width: 1502px) {
  .dpXlCp .business-office .tab-list [class*="office-"]::before { height: 10px; }
}
@media (max-width: 768px) {
  .dpXlCp .business-office .tab-list [class*="office-"]::before { width: 2.22222vw; height: 2.22222vw; }
}
@media (min-width: 1502px) {
  .dpXlCp .business-office .tab-list [class*="office-"] { padding: 0px 18px; }
}
@media (max-width: 768px) {
  .dpXlCp .business-office .tab-list [class*="office-"] { padding: 0vw 3.88889vw; }
}
.dpXlCp .business-office .tab-list .office-seoul { top: 11.518vw; left: 37.5499vw; }
@media (min-width: 1502px) {
  .dpXlCp .business-office .tab-list .office-seoul { top: 173px; }
}
@media (min-width: 1502px) {
  .dpXlCp .business-office .tab-list .office-seoul { left: 564px; }
}
@media (max-width: 768px) {
  .dpXlCp .business-office .tab-list .office-seoul { top: 23.0556vw; left: 77.5vw; }
}
.dpXlCp .business-office .tab-list .office-seoul > span::before { left: -0.798935vw; }
@media (min-width: 1502px) {
  .dpXlCp .business-office .tab-list .office-seoul > span::before { left: -12px; }
}
@media (max-width: 768px) {
  .dpXlCp .business-office .tab-list .office-seoul > span::before { left: -1.38889vw; }
}
.dpXlCp .business-office .tab-list .office-seoul > span::after { left: -1.53129vw; }
@media (min-width: 1502px) {
  .dpXlCp .business-office .tab-list .office-seoul > span::after { left: -23px; }
}
@media (max-width: 768px) {
  .dpXlCp .business-office .tab-list .office-seoul > span::after { left: -2.77778vw; }
}
.dpXlCp .business-office .tab-list .office-beijing { top: 10.719vw; right: 16.6445vw; }
.dpXlCp .business-office .tab-list .office-beijing::before { right: 0px; left: auto; }
@media (min-width: 1502px) {
  .dpXlCp .business-office .tab-list .office-beijing { top: 161px; }
}
@media (min-width: 1502px) {
  .dpXlCp .business-office .tab-list .office-beijing { right: 250px; }
}
@media (max-width: 768px) {
  .dpXlCp .business-office .tab-list .office-beijing { top: 20.5556vw; right: 34.4444vw; }
}
.dpXlCp .business-office .tab-list .office-beijing > span::before { right: -0.798935vw; }
@media (min-width: 1502px) {
  .dpXlCp .business-office .tab-list .office-beijing > span::before { right: -12px; }
}
@media (max-width: 768px) {
  .dpXlCp .business-office .tab-list .office-beijing > span::before { right: -1.38889vw; }
}
.dpXlCp .business-office .tab-list .office-beijing > span::after { right: -1.53129vw; }
@media (min-width: 1502px) {
  .dpXlCp .business-office .tab-list .office-beijing > span::after { right: -23px; }
}
@media (max-width: 768px) {
  .dpXlCp .business-office .tab-list .office-beijing > span::after { right: -2.77778vw; }
}
.dpXlCp .business-office .tab-list .office-seoul::before, .dpXlCp .business-office .tab-list .office-beijing::before { background-color: rgb(235, 80, 32); }
.dpXlCp .business-office .tab-list .office-s { top: 15.6458vw; left: 32.2237vw; }
@media (min-width: 1502px) {
  .dpXlCp .business-office .tab-list .office-s { top: 235px; }
}
@media (min-width: 1502px) {
  .dpXlCp .business-office .tab-list .office-s { left: 484px; }
}
@media (max-width: 768px) {
  .dpXlCp .business-office .tab-list .office-s { top: 32.5vw; left: 67.2222vw; }
}
.dpXlCp .business-office .tab-list .office-t { top: 19.9068vw; left: 33.8881vw; }
@media (min-width: 1502px) {
  .dpXlCp .business-office .tab-list .office-t { top: 299px; }
}
@media (min-width: 1502px) {
  .dpXlCp .business-office .tab-list .office-t { left: 509px; }
}
@media (max-width: 768px) {
  .dpXlCp .business-office .tab-list .office-t { top: 40vw; left: 70.8333vw; }
}
.dpXlCp .business-office .tab-list .office-g { top: 19.4407vw; right: 19.6405vw; }
.dpXlCp .business-office .tab-list .office-g::before { right: 0px; left: auto; }
@media (min-width: 1502px) {
  .dpXlCp .business-office .tab-list .office-g { top: 292px; }
}
@media (min-width: 1502px) {
  .dpXlCp .business-office .tab-list .office-g { right: 295px; }
}
@media (max-width: 768px) {
  .dpXlCp .business-office .tab-list .office-g { top: 38.6111vw; right: 40.2778vw; }
}
.dpXlCp .business-office .tab-list .office-h { top: 20.6391vw; right: 18.775vw; }
.dpXlCp .business-office .tab-list .office-h::before { right: 0px; left: auto; }
@media (min-width: 1502px) {
  .dpXlCp .business-office .tab-list .office-h { top: 310px; }
}
@media (min-width: 1502px) {
  .dpXlCp .business-office .tab-list .office-h { right: 282px; }
}
@media (max-width: 768px) {
  .dpXlCp .business-office .tab-list .office-h { top: 42.2222vw; right: 38.8889vw; }
}
.dpXlCp .business-office .tab-list .office-m { bottom: 0.932091vw; left: 22.7696vw; }
@media (min-width: 1502px) {
  .dpXlCp .business-office .tab-list .office-m { bottom: 14px; }
}
@media (min-width: 1502px) {
  .dpXlCp .business-office .tab-list .office-m { left: 342px; }
}
@media (max-width: 768px) {
  .dpXlCp .business-office .tab-list .office-m { bottom: 0.277778vw; left: 47.5vw; }
}
.dpXlCp .business-office.motion-wrapper .tab-list { opacity: 0; transform: translateY(100px); }
.dpXlCp .business-office.motion-wrapper .headline .title { opacity: 0; transform: translateY(100px); }
.dpXlCp .business-office.motion-wrapper .description { opacity: 0; transform: translateY(100px); }
.dpXlCp .business-office.is-animated .tab-list { opacity: 1; transition: opacity 1s 0.2s, transform 1s cubic-bezier(0, 0.25, 0, 1.06); transform: translateY(0px); }
.dpXlCp .business-office.is-animated .headline .title { opacity: 1; transition: opacity 1s 0.4s, transform 1s cubic-bezier(0, 0.25, 0, 1.06); transform: translateY(0px); }
.dpXlCp .business-office.is-animated .description { opacity: 1; transition: opacity 1s 0.4s, transform 1s cubic-bezier(0, 0.25, 0, 1.06); transform: translateY(0px); }
.dpXlCp .business-client { overflow: hidden; max-width: 1920px; margin: 0px auto; }
.dpXlCp .business-client .rolling-banner { display: grid; grid-template-columns: 242.21vw; grid-template-rows: 13.3156vw; background-color: rgb(18, 18, 18); }
@media (min-width: 1502px) {
  .dpXlCp .business-client .rolling-banner { grid-template-columns: 3638px; }
}
@media (min-width: 1502px) {
  .dpXlCp .business-client .rolling-banner { grid-template-rows: 200px; }
}
@media (max-width: 768px) {
  .dpXlCp .business-client .rolling-banner { grid-template-columns: 496.389vw; grid-template-rows: 27.7778vw; }
}
.dpXlCp .business-client .client-logo { display: flex; grid-area: 1 / 1; flex-wrap: nowrap; align-items: center; justify-content: space-around; padding: 2.66312vw 0vw; }
@media (min-width: 1502px) {
  .dpXlCp .business-client .client-logo { padding: 40px 0px; }
}
@media (max-width: 768px) {
  .dpXlCp .business-client .client-logo { padding: 5.55556vw 0vw; }
}
.dpXlCp .business-client .client-logo > li { position: relative; flex-shrink: 0; }
.dpXlCp .business-client .client-logo > li img { width: auto; height: 7.98935vw; }
@media (min-width: 1502px) {
  .dpXlCp .business-client .client-logo > li img { height: 120px; }
}
@media (max-width: 768px) {
  .dpXlCp .business-client .client-logo > li img { height: 16.6667vw; }
}
.dpXlCp .business-client.play .client-logo { animation: 20s linear 0s infinite normal none running logo01; }
.dpXlCp .business-client.play .client-logo.clone { animation: 20s linear 0s infinite normal none running logo02; }
.dpXlCp .business-client.safari .client-logo { animation: 40s linear 0s infinite normal none running safari-logo01; }
.dpXlCp .business-client.safari .client-logo.clone { animation: 40s linear 0s infinite normal none running safari-logo02; }
.dpXlCp .business-client.resizing.safari .client-logo { animation: auto ease 0s 1 normal none running none !important; }
@keyframes logo01 { 
  0% { transform: translateX(0px); }
  100% { transform: translateX(-100%); }
}
@keyframes logo02 { 
  0% { transform: translateX(100%); }
  100% { transform: translateX(0px); }
}
@keyframes safari-logo01 { 
  0% { transform: translateX(0px); }
  50% { transform: translateX(-100%); }
  50.1% { transform: translateX(100%); }
  100% { transform: translateX(0px); }
}
@keyframes safari-logo02 { 
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}
.dpXlCp .operation { padding: 13.3156vw 0vw; overflow: hidden; }
@media (min-width: 1502px) {
  .dpXlCp .operation { padding: 200px 0px; }
}
@media (max-width: 768px) {
  .dpXlCp .operation { padding: 22.2222vw 0vw; }
}
@media (min-width: 769px) {
  .dpXlCp .operation .card-list { display: grid; grid-template-columns: repeat(3, 1fr); justify-content: flex-end; }
}
@media (max-width: 768px) {
  .dpXlCp .operation .card-list { justify-content: flex-start; }
}
.dpXlCp .operation .card-list .card-item { position: relative; min-height: 24.1012vw; padding: 2.66312vw 1.66445vw 0vw 2.66312vw; overflow: hidden; background-image: url("/assets/operationbg-pc-CQrt1DEuda.png"); background-size: cover; }
@media (min-width: 1502px) {
  .dpXlCp .operation .card-list .card-item { min-height: 362px; }
}
@media (min-width: 1502px) {
  .dpXlCp .operation .card-list .card-item { padding: 40px 25px 0px 40px; }
}
.dpXlCp .operation .card-list .card-item::before { content: ""; position: absolute; z-index: 1; inset: 0px; opacity: 0; background-image: url("/assets/vision-operation-bg-pc-CSc0FOVRNY.jpg"); background-size: cover; transition: opacity 0.3s ease-in-out; }
@media (max-width: 768px) {
  .dpXlCp .operation .card-list .card-item { min-height: 105.556vw; padding: 5.55556vw 5.55556vw 0vw; background-image: url("/assets/operationbg-mo-C-JjiVIsCz.png"); background-repeat: no-repeat; background-size: cover; }
}
.dpXlCp .operation .card-list .card-item .card-contents { position: relative; z-index: 2; height: 100%; }
@media (max-width: 768px) {
  .dpXlCp .operation .card-list .card-item .card-title { font-size: 6.66667vw; line-height: 1.41; }
}
.dpXlCp .operation .card-list .card-item .card-summary { color: rgb(204, 204, 204); transition: 0.3s ease-in-out; }
@media (max-width: 768px) {
  .dpXlCp .operation .card-list .card-item .card-summary { margin-top: 1.11111vw; min-height: 13.3333vw; font-weight: 600; color: rgb(255, 255, 255); font-size: 3.88889vw; line-height: 6.11111vw; }
}
.dpXlCp .operation .card-list .card-item .card-desc { color: rgb(255, 255, 255); opacity: 0; font-size: 1.06525vw; line-height: 1.73103vw; transition: opacity 0.3s ease-in-out; }
@media (min-width: 1502px) {
  .dpXlCp .operation .card-list .card-item .card-desc { font-size: 16px; }
}
@media (min-width: 1502px) {
  .dpXlCp .operation .card-list .card-item .card-desc { line-height: 26px; }
}
@media (max-width: 768px) {
  .dpXlCp .operation .card-list .card-item .card-desc { color: rgb(204, 204, 204); opacity: 1; margin-top: 6.66667vw; font-size: 3.88889vw; line-height: 6.11111vw; }
}
.dpXlCp .operation .card-list .card-item .card-desc > li { padding-left: 0.665779vw; text-indent: -0.665779vw; }
@media (min-width: 1502px) {
  .dpXlCp .operation .card-list .card-item .card-desc > li { padding-left: 10px; }
}
@media (min-width: 1502px) {
  .dpXlCp .operation .card-list .card-item .card-desc > li { text-indent: -10px; }
}
@media (max-width: 768px) {
  .dpXlCp .operation .card-list .card-item .card-desc > li { padding-left: 2.77778vw; text-indent: -2.77778vw; }
}
.dpXlCp .operation .card-list .card-item .cta-new-window { position: absolute; right: 0.998668vw; bottom: 2.66312vw; display: flex; align-items: center; font-weight: 600; color: rgb(72, 176, 100); font-size: 1.06525vw; line-height: 1.73103vw; border-bottom: 1px solid rgb(72, 176, 100); transition: 0.3s ease-in-out; }
@media (min-width: 1502px) {
  .dpXlCp .operation .card-list .card-item .cta-new-window { right: 15px; }
}
@media (min-width: 1502px) {
  .dpXlCp .operation .card-list .card-item .cta-new-window { bottom: 40px; }
}
@media (min-width: 1502px) {
  .dpXlCp .operation .card-list .card-item .cta-new-window { font-size: 16px; }
}
@media (min-width: 1502px) {
  .dpXlCp .operation .card-list .card-item .cta-new-window { line-height: 26px; }
}
.dpXlCp .operation .card-list .card-item .cta-new-window::after { content: ""; display: inline-block; width: 1.06525vw; height: 1.06525vw; background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.59979 3.5L11.375 3.5L11.4524 11.1667L10.3523 12.2222L10.3128 8.30556C10.3029 7.33333 10.2933 6.375 10.297 5.40278L3.485 12.25L2.7042 11.3889L9.54328 4.54167C8.59523 4.55556 7.64704 4.55556 6.69885 4.55556H2.63517L3.59979 3.5Z' fill='%23E9501F'/%3E%3C/svg%3E%0A"); background-repeat: no-repeat; background-size: 100%; transition: background-image 0.3s ease-in-out; }
@media (min-width: 1502px) {
  .dpXlCp .operation .card-list .card-item .cta-new-window::after { width: 16px; }
}
@media (min-width: 1502px) {
  .dpXlCp .operation .card-list .card-item .cta-new-window::after { height: 16px; }
}
@media (max-width: 768px) {
  .dpXlCp .operation .card-list .card-item .cta-new-window::after { width: 3.88889vw; height: 3.88889vw; }
}
@media (max-width: 768px) {
  .dpXlCp .operation .card-list .card-item .cta-new-window { right: auto; left: 0px; bottom: 8.88889vw; font-size: 4.44444vw; line-height: 6.66667vw; }
}
@media (min-width: 769px) {
  .dpXlCp .operation .card-list .card-item:hover::before, .dpXlCp .operation .card-list .card-item.active::before { opacity: 1; }
  .dpXlCp .operation .card-list .card-item:hover .card-summary, .dpXlCp .operation .card-list .card-item.active .card-summary { font-weight: 600; color: rgb(255, 255, 255); font-size: 1.06525vw; line-height: 1.73103vw; }
  @media (min-width: 1502px) {
  .dpXlCp .operation .card-list .card-item:hover .card-summary, .dpXlCp .operation .card-list .card-item.active .card-summary { font-size: 16px; }
}
  @media (min-width: 1502px) {
  .dpXlCp .operation .card-list .card-item:hover .card-summary, .dpXlCp .operation .card-list .card-item.active .card-summary { line-height: 26px; }
}
  .dpXlCp .operation .card-list .card-item:hover .card-summary br.pc, .dpXlCp .operation .card-list .card-item.active .card-summary br.pc { display: none; }
  .dpXlCp .operation .card-list .card-item:hover .card-desc, .dpXlCp .operation .card-list .card-item.active .card-desc { opacity: 1; transition-delay: 0.1s; }
  .dpXlCp .operation .card-list .card-item:hover .cta-new-window, .dpXlCp .operation .card-list .card-item.active .cta-new-window { color: rgb(255, 255, 255); border-color: rgb(255, 255, 255); }
  .dpXlCp .operation .card-list .card-item:hover .cta-new-window::after, .dpXlCp .operation .card-list .card-item.active .cta-new-window::after { background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.11412 4L13 4L13.0885 12.7619L11.8313 13.9683L11.7861 9.49206C11.7749 8.38095 11.7638 7.28571 11.7681 6.1746L3.98293 14L3.09059 13.0159L10.9067 5.19048C9.82319 5.20635 8.73954 5.20635 7.6559 5.20635H3.0117L4.11412 4Z' fill='white'/%3E%3C/svg%3E%0A"); }
}
.dpXlCp .operation.motion-wrapper .headline .title { opacity: 0; transform: translateY(100px); }
.dpXlCp .operation.motion-wrapper .description { opacity: 0; transform: translateY(100px); }
.dpXlCp .operation.motion-wrapper .card-list { opacity: 0; transform: translateY(100px); }
.dpXlCp .operation.is-animated .headline .title { opacity: 1; transition: opacity 1s 0.2s, transform 1s cubic-bezier(0, 0.25, 0, 1.06); transform: translateY(0px); }
.dpXlCp .operation.is-animated .description { opacity: 1; transition: opacity 1s 0.2s, transform 1s cubic-bezier(0, 0.25, 0, 1.06); transform: translateY(0px); }
.dpXlCp .operation.is-animated .card-list { opacity: 1; transition: opacity 1s 0.4s, transform 1s cubic-bezier(0, 0.25, 0, 1.06); transform: translateY(0px); }